<div class="main-content">
    <section>
      <div class="container">
        <div class="row wow fadeInUp" *ngIf="List?.length > 0">
          <div class="col-sm-12">
            <div class="iq-masonry-block" id="ark-portfolio">
              <div class="isotope-filters isotope-tooltip"><button data-filter="" class="active">All<span class="post_no">{{List.length}}</span></button><button data-filter=".rooftop" *ngIf="serviceType.rooftop > 0">Rooftop<span class="post_no">{{serviceType.rooftop}}</span></button><button data-filter=".commercial" *ngIf="serviceType.commercial > 0">Commercial<span class="post_no">{{serviceType.commercial}}</span></button><button data-filter=".solar-plant" *ngIf="serviceType.solarPlant > 0">Solar Plant<span class="post_no">{{serviceType.solarPlant}}</span></button><button data-filter=".others" *ngIf="serviceType.others > 0">Others<span class="post_no">{{serviceType.others}}</span></button></div>
              <div class="iq-masonry iq-columns-3">
                <app-portfolio-box [portfolioList]="List"></app-portfolio-box>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>