<app-top-banner [data]="data"></app-top-banner>
<div class="main-content">
  <section>
    <div class="container">
      <div class="row mt-4">
        <div class="col-sm-8 wow fadeInUp">
          <p>Arka11 channel partners play an important role in extending the brand to new customers, while expanding the list of products and services, our partner can make available to its customers. These co-branded relationships help to build credibility on both sides, but most importantly, open a set of comprehensive options to clients looking for resourceful solutions and savings related to ongoing utility use and management.</p>
          <p>As a channel partner of India’s leading renewable energy company, overcome business challenges and increase conversion rates with highest quality execution and delivery of projects.</p>
          <p>Arka11 is committed to providing an industry-leading customer experience. We believe in partnering with businesses who share the same customer-centric philosophy, and providing them with the resources necessary to successfully scale in the marketplace. We’ve developed a robust platform of tools and services to support the near and long-term growth of our partners.</p>
          <p>Our extensive training programs for our solar channel partners ensure anyone having an excellent network and business development skill can become our channel partner.</p>
        </div>
        <div class="col-sm-4 wow fadeInUp">
          <h4 class="text-left mb-4">Partner With Us!</h4>
          <form class="needs-validation" novalidate (ngSubmit)="becomePartner(partnerForm)" [ngClass]="{'was-validated' : partnerForm.submitted}" #partnerForm="ngForm">
            <div class="contact-form">
              <div class=""> <input type="text" name="cname" [(ngModel)]="partner.company" class="form-control text " placeholder="Company Name" required> </div>
              <div class=""> <input type="text" name="name" [(ngModel)]="partner.name" class="form-control text " placeholder="Your Name" required> </div>
              <div class=""> <input type="text" name="email" [(ngModel)]="partner.email" class="form-control text " placeholder="Your Email" required> </div>
              <div class=""> <input name="phone" [(ngModel)]="partner.phone" class="form-control text " placeholder="Your Mobile #" pattern="^((\\+91-?)|0)?[0-9]{10}$" required> </div>
              <div class=""> <input type="text" name="city" [(ngModel)]="partner.city" class="form-control text " placeholder="City" required> </div>      
              <div class=""> <textarea name="message" [(ngModel)]="partner.message" cols="40" rows="4" class="form-control textarea " placeholder="Tell us about your experience in Solar"></textarea> </div>
              <div> <button id="submit-4" name="submit" type="submit" value="Send" class="button d-block w-100">Submit</button> </div>
            </div>
          </form>
          <div *ngIf="error" class="mt-4">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <span [textContent]="error"></span>
            </div>
            <br>
          </div>
          <div *ngIf="success" class="mt-4">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <span [textContent]="success"></span>
            </div>
            <br>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-sm-12 wow fadeInUp">
          <h4 class="mb-4">Collaborate With Us & Get…</h4>
          <ul>
            <li><strong>Increased Business Momentum</strong>, Finding the right Solar projects for your business to expand & increase revenue streams.</li>
            <li><strong>Guaranteed Quality</strong>, Arka11 has always delivered best quality products.</li>
            <li><strong>Project Management</strong>, Digitized workflows for efficient execution.</li>
            <li><strong>Specialized Training</strong>, Sales & Operations training to help you operate more efficiently.</li>
            <li><strong>Complete Support</strong>, End-to-end support from designs to quality components.</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>
