.image-panels {
    width: 178px;
    height: 122px;
}

.savings {
    width: 82px;
    height: 74px;
}

.estimate {
    width: 90px;
    height: 90px;
}

.roi {
    width: 60px;
    height: 60px;
}

.monthly-units {
    width: 74px;
    height: 81px;
}

.monthly-savings {
    width: 64px;
    height: 64px;
}

.carbon {
    width: 74px;
    height: 74px;
}

.trees {
    width: 90px;
    height: 90px;
}